/* CSS Box model */
/* *{
  margin:0;
} */
h1{
  background:red;
  /* padding-top:30px;
  padding-bottom: 60px;
  padding-left:25px; */
  padding:20px;
  margin:30px;
  border-style:solid;
  border-width:20px;
  border-color:blue;
}

p{
  background:blue;
  padding:20px;
  /* border: 20px solid gray; */
  border-bottom-style:dashed;
  border-bottom-width:5px;
  border-bottom-color:brown;
  /* margin:50px 20px; */
  /* padding: 30px 60px ; */
  /* padding: 20px 40px 60px 80px; */
  margin:100px 20px 20px 50px;





}




















