 /* css rule */
 /* selectors */
 /* declaration block */

 /* declaration */
 /* property */
 /* value */

 /* h1,h2 {
  color:blueviolet;
 }


 /* p {
  color:grey;
 } */

/* body {
  color:red;
} */

/* #heading {
  color:green;
  background:yellow;
}
#title {
  color:red;;
  background: gray;
}

.green {
  color:green;

}
.red {
  color:red;
}

#title {
  font-size:40px;
}
.lowercase {
  text-transform: lowercase;
}
div {
  color:red;
  background:gray;
}
span{
  text-transform: uppercase;
} */

/* Inheritance */

/* body {
  color:red;
  font-family: monospace;
  line-height: 1.5em;
}

div {
  color:blue;
  border:3px solid black;
}
h2{
  color:green;
} */
/*  Last Rule */
/* p {
  color:blue;

}
p{
  color:red;
} */
/* Specificity */
/* .red {

  color:red;
}

p{
  color:blue;
} */

/* Universal Selector */
/* 

* {
  color:blue;
} */


/* Color Background color properties */
/* RGB colors 0-255 */
/* #first {
  color:rgb(255,0,120);
  background-color:rgb(0,0,0);
}
#second{
  color:rgb(0,255,0);
  background:black;
}
body {
  background:rgb(134,100,193);
} */

/* Opacity/Transparent */

/* #first{
  color:rgb(0,123,0);
  background:rgba(0,0,0,0.5)
}
#second {
  color : rgb(45,10,34);
  background:rgba(0,0,0,0.45)
}
body {
  background:rgba(10,10,200,0.56);
} */


/* HEX VALUES OF COLOR */

/* #RRGGBB */

